/*--------------------------------
------------FONTS
----------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

@font-face {
  font-family: "Bebas Neue Regular";
  src: url('../fonts/BebasNeue-Regular.otf');
}

/*--------------------------------
------------GRID
----------------------------------*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row.tab.show {
  display: flex;
}

.row .row {
  width: 100%;
}

.col {
  flex: 0 0 auto;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: 1201px){
  .row {
    width: 100%;
  }
}

@media screen and (min-width: 769px){
  .col-md-6 {
    width: 50%;
  }
}

/*--------------------------------
------------COMMON
----------------------------------*/

html * {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-size: 1em;
  color: #002b41;
}

body.fixed {
  overflow: hidden;
}

header {
  min-height: 220px;
}

.header-background {
  position: relative;
}

.header-background:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/header-back.png") center/cover no-repeat;
}

main {
  background-color: #f5fcff;
}

h1,h2,h3,h4,h5,h6 {
  display: inline-block;
  margin: 0;
}

a {
  text-decoration: none;
  color: #5fc0e7;
}

img {
  max-width: 100%;
}

.tab {
  display: none;
}

.tab.show {
  display: block;
}

.short-info-icon,
.action-icon {
  background: center/contain no-repeat;
}

.header-nav-wrapper {
  background-color: #fff;
  border-bottom: 2px solid #f1f1f3;
}

.header-nav-wrapper .tabs-control-wrapper {
  width: 100%;
}

.header-nav-wrapper .tab-toggle {
  display: inline-block;
  cursor: pointer;
  font-family: "Bebas Neue Regular", sans-serif;
  text-transform: uppercase;
  font-size: 2.25em;
  color: #002b41;
  letter-spacing: 0.125em;
  margin-bottom: -2px;
  padding: 40px 80px;
  border-bottom: 2px solid transparent;
}

.header-nav-wrapper .tab-toggle[aria-expanded="true"],
.header-nav-wrapper .tab-toggle:hover {
  background-color: #f1f1f3;
  border-color: #5fbfe7;
}

.header-nav-wrapper .tab-toggle:hover {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .header-nav-wrapper .tab-toggle {
    font-size: 1.125em;
    padding: 20px 40px;
  }
}

@media screen and (max-width: 768px) {
  .header-nav-wrapper .tabs-control-wrapper {
    text-align: center;
  }
  .header-nav-wrapper .tab-toggle {
    border-top: 2px solid transparent;
    width: 100%;
    padding: 20px 0;
  }
}

@media screen and (min-width: 769px) {
  .col-md-6:nth-child(odd) .card {
    margin-right: 10px;
  }
  .col-md-6:nth-child(even) .card {
    margin-left: 10px;
  }
}

.card {
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  background-color: #fff;
  padding: 35px 25px 30px;
  margin-bottom: 30px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
}

.card-red:before {
  background-color: #f95770;
}

.card-orange:before {
  background-color: #f16532;
}

.card-blue:before {
  background-color: #5fbfe7;
}

.card-violet:before {
  background-color: #7c4097;
}

.card .card-title {
  display: inline-block;
  font-family: "Bebas Neue Regular", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.9em;
  margin-bottom: 2px;
}

.card .card-title, .card-sub-section {
  margin-bottom: 20px;
}

.card .sub-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card .sub-section-title,
.card .sub-section-description {
  flex: 0 0 auto;
  font-size: 1.125em;
  font-family: "Raleway", sans-serif;
}

.card .sub-section-title {
  font-weight: bold;
}

.card .sub-section-content {
  margin: 10px 0 0;
}

.card .action-wrapper {
  cursor: pointer;
}

.card .action-wrapper:hover {
  opacity: 0.5;
}

.card .action-icon {
  display: inline-block;
  height: 0.9em;
  width: 0.9em;
}

.card .action-edit .action-icon {
  background-image: url("../img/icons/icn-edit.svg");
}

.tab-about-wrapper {
  padding: 50px 0;
}

/*--------------------------------
------------MAIN
----------------------------------*/

/*----------ICONS----------*/

.short-profession .short-info-icon {
  background-image: url("../img/icons/icn-jb-position.svg");
}

.short-location .short-info-icon {
  background-image: url("../img/icons/icn-location.svg");
}

.short-circles .short-info-icon {
  background-image: url("../img/icons/icn-circles.svg");
}

/*----------PROFILE OVERVIEW TAB----------*/

.profile-overview-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

.profile-avatar-wrapper {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
  height: 180px;
  width: 180px;
  z-index: 2;
}

.profile-avatar-wrapper .profile-avatar-image {
  height: 100%;
}

.profile-name {
  font-size: 2.25em;
  font-weight: bold;
}

.profile-description-wrapper {
  display: inline-block;
  padding: 15px 45px 15px 130px;
  background-color: #fff;
  border-radius: 49px;
  margin-left: -85px;
  z-index: 1;
}

.short-infos-wrapper {
  margin-top: 5px;
}

.short-info-item {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 0 30px;
}

.short-info-item:first-child {
  padding-left: 0;
}

.short-info-item:last-child {
  padding-right: 0;
}

.short-info-item:after {
  content: "|";
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.short-info-item:last-child:after {
  content: normal;
}

.short-info-icon {
  width: 20px;
  height: 20px;
}

.short-info-content {
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  padding-left: 15px;
  color: #969696;
}

.circles-list {
  padding-top: 5px;
}

.circles-image-wrapper {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.circles-image-wrapper:hover {
  opacity: 0.5;
}

.circles-image-wrapper:last-child {
  margin-right: 0;
}

.circles-image-wrapper .circles-image {
  height: 100%;
}

/*----------GALLERY TAB----------*/

.tab-gallery-wrapper {
  padding: 25px 0;
}

.gallery-filters-wrapper,
.photos-list-wrapper {
  background-color: #fff;
}

.gallery-filters-wrapper {
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  padding: 15px 25px;
  border-radius: 30px;
  margin-bottom: 30px;
}

.gallery-filter-title {
  display: inline-block;
  font-weight: bold;
  font-size: 1.125em;
  margin-right: 25px;
}

.gallery-filters-list {
  display: inline-block;
}

.gallery-filters-item {
  border-radius: 15px;
  padding: 5px 20px;
  margin-right: 35px;
  text-transform: uppercase;
  font-weight: normal;
  cursor: pointer;
}

.gallery-filters-item.active,
.gallery-filters-item:hover {
  background-color: #5fbfe7;
  color: #fff;
}

.gallery-filters-item:hover {
  opacity: 0.5;
}

.photos-list-wrapper {
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.photos-list-wrapper .photos-item {
  display: inline-block;
  position: relative;
  width: 25%;
  border-radius: 3px;
  padding: 10px;
  line-height: 0;
  cursor: pointer;
}

.photos-item .photos-image {
  width: 100%;
}

.photos-item:hover:after {
  content: "";
  position: absolute;
  border-radius: 3px;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: url("../img/icons/icn-search.svg") rgba(0, 43, 65, 0.8) center/30px no-repeat;
}

/*----------MODAL WINDOW----------*/

.modal-wrapper {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 43, 65, 0.8);
  z-index: 10;
}

.modal-wrapper > * {
  flex: 0 0 auto;
}

.modal-wrapper[aria-hidden="false"] {
  display: flex;
}

.modal-wrapper .modal-image-wrapper {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-height: 60vh;
}

.modal-image-wrapper .modal-image {
  height: 100%;
  max-width: 100%;
}

.modal-image-wrapper .modal-close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #5fc0e7;
  border-radius: 50%;
  transform: translate(50%,-50%);
  z-index: 1;
}

.modal-close:before, .modal-close:after {
  content: "";
  height: 60%;
  width: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  background-color: #fff;
}

.modal-close:after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

/*--------------------------------
--------MAIN MEDIA QUERIES
----------------------------------*/

@media screen and (max-width: 900px) {
  .profile-overview-wrapper {
    max-width: 100%;
    margin-left: 15px;
  }

  .short-info-item {
    width: 100%;
    padding: 5px 0;
  }

  .short-info-item:after {
    display: none;
  }

  .gallery-filter-title {
    margin-bottom: 15px;
  }

  .gallery-filters-item {
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .photos-list-wrapper .photos-item {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .profile-overview-wrapper {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .profile-avatar-wrapper {
    margin: 15px 0;
  }

  .profile-description-wrapper {
    width: 100%;
    padding: 15px 25px;
    border-radius: 0;
    margin-left: 0;
  }

  .photos-list-wrapper .photos-item {
    width: 100%;
  }

  .modal-image-wrapper .modal-image {
    height: auto;
  }
}

@media screen and (max-width: 567px) {
  .modal-image-wrapper .modal-close {
    transform: translate(0,-50%);
  }
}